*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:#0c0c1c;
    color:white;
}


.container{
    width:100%;
    display:flex;
    height:100vh;
}


.left-section{
    width:50%;
    height:100%;
}

.left-section img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-right:3px solid #222;
}


.right-section{
    width:50%;
    padding:40px 50px;
    overflow-y:auto;
}

.main-heading{
    font-size:40px;
    font-weight:700;
    margin-bottom:15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00aaff;
}
   

.about-text{
    font-size:17px;
    line-height:1.6;
    margin-bottom:35px;
}

.info-box{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.box{
    background:#12122a;
    padding:20px;
    border-radius:12px;
    border:1px solid #2e2e52;
    transition:0.3s ease;
}

.icon{
    font-size:28px;
    color:#00aaff;
    margin-bottom:10px;
}


.box:hover{
    transform:translateY(-5px);
    background:#1e1e3a;
    border-color:#0077ff;
}

.box ul{
    margin-top:10px;
    padding-left:20px;
}

.box ul li{
    margin-bottom:6px;
}
