
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #0d0f1a;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    padding: 30px 0;
}

.page-title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #2ca6ff;
}


.search-section {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-box {
    display: flex;
    width: 450px;
    background: #1a1e2e;
    border-radius: 40px;
    overflow: hidden;
    border: 1px solid #2ca6ff;
}

.search-box input {
    flex: 1;
    padding: 12px 20px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
}

.search-box button {
    width: 60px;
    background: #2ca6ff;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    transition: 0.3s ease;
}

.search-box button:hover {
    background: #178de8;
}

.gif-section {
    margin-bottom: 40px;
}

.gif-banner img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(44, 166, 255, 0.4);
}


.section-title {
    font-size: 32px;
    color: #2ca6ff;
    margin: 20px 0;
    text-align: left;
}

.video-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
    margin-bottom: 40px;
}

.video-card {
    background: #111421;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #1f2739;
    transition: 0.3s ease;
}

.video-card video {
    width: 100%;
    height: 240px;
    border-radius: 10px;
}

.video-card:hover {
    transform: translateY(-5px);
    border-color: #2ca6ff;
    box-shadow: 0 0 15px rgba(44, 166, 255, 0.4);
}


.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 30px;
    margin-bottom: 50px;
}

.blog-card {
    background: #111421;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid #1f2739;
    transition: 0.3s ease;
}

.blog-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.blog-card h3 {
    margin: 15px 0 10px;
    font-size: 20px;
    color: #2ca6ff;
}

.blog-card p {
    color: #dcdcdc;
    font-size: 15px;
    margin-bottom: 10px;
}

.read-more {
    color: #2ca6ff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.read-more:hover {
    color: #178de8;
    letter-spacing: 1px;
}

.blog-card:hover {
    transform: translateY(-6px);
    border-color: #2ca6ff;
    box-shadow: 0 0 15px rgba(44, 166, 255, 0.4);
}



@media(max-width: 768px){
    .page-title{
        font-size: 35px;
    }

    .search-box{
        width: 100%;
    }

    .video-section video{
        height: 200px;
    }
}
