*{
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family:"Poppins", sans-serif;
    }

    body{
        background:#f4f8ff;
        color:#003366;
        padding:60px;
        background-image: url("../assets/contactus.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .heading-text{
        color:beige;
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
        font-size:25px;
        margin-bottom:25px;
    }
    .container{
        max-width:1300px;
        margin:auto;
        background:transparent;
        padding:40px;
        display: flex;
         justify-content: space-between;
         gap: 70px;
    }
    .section-form{
        background:#ffffff;
        padding:30px;
        border-radius:12px;
        box-shadow:0 5px 20px rgba(0,0,0,0.1);
        margin-bottom:35px;
    }

    label{
        display:block;
        font-size:15px;
        margin-bottom:6px;
        color:#0a2a52;
        font-weight:500;
    }

    label span{
        color:#d97a00;
    }

    input, textarea{
        width:100%;
        padding:12px;
        border:1px solid #b7c0cc;
        border-radius:6px;
        margin-bottom:20px;
        font-size:15px;
        outline:none;
        background:#f9fbff;
        transition:0.3s;
    }

    input:focus, textarea:focus{
        border-color:#3b82f6;
        box-shadow:0 0 5px rgba(59,130,246,0.3);
        background:#fff;
    }

    textarea{
        resize:none;
        height:120px;
    }

    .two-inputs{
        display:flex;
        gap:20px;
    }

    .submit-btn{
        padding:14px;
        background:#003366;
        color:#fff;
        font-size:16px;
        font-weight:600;
        border:none;
        border-radius:6px;
        cursor:pointer;
        width:100%;
        margin-top:10px;
        transition:0.3s;
    }

    .submit-btn:hover{
        background:#0a58ca;
    }

    .section-map{
        background:#ffffff;
        padding:30px;
        border-radius:12px;
        box-shadow:0 5px 20px rgba(0,0,0,0.1);
        flex:1;
        margin-bottom: 35px;
    }

    .section-map iframe{
        width:100%;
        height:350px;
        border-radius:10px;
        border:none;
        margin-bottom:25px;
    }

    .info-box{
        margin-bottom:22px;
        display:flex;
        align-items:flex-start;
        gap:15px;
    }

    .info-box i{
        font-size:22px;
        color:#0a58ca;
        margin-top:4px;
    }

    .info-text{
        font-size:15px;
        line-height:24px;
    }

    .info-text b{
        font-size:17px;
        color:#003366;
        font-weight:600;
    }

    a{
        text-decoration:none;
        color:#0a58ca;
        font-weight:600;
    }

    @media (max-width: 900px){
        .two-inputs{
            flex-direction:column;
        }
    }
