
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family: Arial, sans-serif;
    }

    body{
        background:#111;
        color:#fff;
        padding:40px 20px;
    }

    .pricing-container{
        max-width:1200px;
        margin:auto;
        text-align:center;
    }

    .pricing-container h1{
        font-size:36px;
        margin-bottom:10px;
        letter-spacing:1px;
    }

    .pricing-container p{
        color:#cccccc;
        margin-bottom:40px;
        font-size:16px;
    }

    .cards{
        display:flex;
        flex-wrap:wrap;
        gap:25px;
        justify-content:center;
    }

    .card{
        background:#1d1d2d;
        width:300px;
        padding:25px;
        border-radius:12px;
        border:1px solid #2b2b3a;
        text-align:center;
        position:relative;
        transition:0.3s;
    }

    .card:hover{
        transform:translateY(-10px);
        border-color:#6f42ff;
        box-shadow:0 0 20px #6f42ff55;
    }

    
    .popular{
        border:2px solid #8a63ff;
        box-shadow:0 0 15px #8a63ff55;
    }

    .popular-badge{
        position:absolute;
        top:-15px;
        left:50%;
        transform: translateX(-50%);
        background:#6f42ff;
        padding:5px 15px;
        border-radius:20px;
        font-size:12px;
        font-weight:bold;
        text-transform:uppercase;
        letter-spacing:1px;
    }

    .card h2{
        font-size:24px;
        margin-bottom:10px;
    }

    .sub-text{
        font-size:14px;
        color:#aaa;
        margin-bottom:15px;
    }

    .price{
        font-size:38px;
        margin:20px 0;
        color:#00ddff;
        font-weight:bold;
    }

    ul{
        list-style:none;
        margin:20px 0;
        padding:0;
        text-align:left;
    }

    ul li{
        margin:10px 0;
        color:#dddddd;
        font-size:15px;
        display:flex;
        align-items:center;
        gap:10px;
    }

    .icon-yes{ color:#00ff88; }
    .icon-no{ color:#ff4444; }

    .btn{
        display:inline-block;
        padding:12px 25px;
        background:#6f42ff;
        color:white;
        text-decoration:none;
        border-radius:6px;
        margin-top:15px;
        font-size:14px;
        font-weight:bold;
        letter-spacing:1px;
    }

    .btn:hover{
        background:#5935cc;
    }

    .trust-box{
        text-align:center;
        margin-top:50px;
        font-size:14px;
        color:#bbb;
    }

    .trust-icons{
        margin-top:15px;
        display:flex;
        justify-content:center;
        gap:30px;
        font-size:26px;
        opacity:0.7;
    }


