
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    color:white;
    overflow-x:hidden;
     background-color:#3b0073;
}


header{
    width:100%;
    padding:25px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
     background-color:#3b0073;
}

header figure{
    display: flex; 
    align-items: center; 
    gap: 8px;
    
}
header figcaption{
    font-weight: bold;
    font-size: 20px;
}


header img{
    width:50px;
    height:40px;
}

nav a{
    margin:0 18px;
    color:white;
    text-decoration:none;
    font-size:15px;
   
}


.btn{
    padding:12px 32px;
    background:transparent ;
    border: 2px solid salmon;
    border-radius:30px;
    cursor:pointer;
    color:white;
    font-weight:600;
}
.btn2{
    padding:12px 32px;
    background:salmon ;
    border: none;
    border-radius:30px;
    cursor:pointer;
    color:white;
    font-weight:600;
}



.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 80px;
     background-color:#3b0073;

}
.hero h1{
    font-size:52px;
    line-height:1.3;
}
.hero p{
    margin:20px 0 30px;
    font-size:16px;
    width:350px;
}

.hero-img{
    width:460px;
}

.prices{
    text-align:center;
    padding-bottom:60px;
    background-color: #0b0042;
}
.prices h2
{   font-size:28px;
    margin-bottom:30px;
}

table{
    width:90%;
    margin:auto;
    border-collapse:collapse;
    background:rgba(255,255,255,0.03);
    border-radius:12px;
    overflow:hidden;
    background-color: transparent;
}
th,td{
    padding:18px;
    text-align:left;
    border-bottom:1px solid rgba(255,255,255,0.08);
}
tr:last-child td{border-bottom:none;}

.green{color:#15ff87;}
.red{color:#ff4d4d;}

.coin{
    width:28px;
    vertical-align:middle;
    margin-right:10px;
}


.features-section {
    text-align: center;
    padding: 100px 20px;
    background: white;
    color: #111;
}

.features-section h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px;
    background-color: white;
}

.features-container {
    display: flex;
    background-color: white;
    justify-content: center;
    gap: 40px;
}

.feature {
    background-color: white;
    padding: 30px 20px;
    width: 280px;
    text-align: left;
    
}

.feature img {
    width: 180px;
    height: 150px;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.feature p {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 1.5;
}


.download-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background: #0b0040;
}

.left-content {
    width: 50%;
    color: white;
}


.left-content h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 20px;
}

.left-content p {
    font-size: 17px;
    color:white;
    line-height: 1.7;
    margin-bottom: 30px;
}


.store-btn {
    width: 170px;
    margin-right: 20px;
    cursor: pointer;
}


.right-images {
    width: 50%;
    display: flex;
    justify-content: center;   
    align-items: center;       
}

.phone {
    width: 420px;              
    height: auto;
    transform: scale(1.2);     
   
}
.programs {
  padding: 60px 20px;
  text-align: center;
  background-color:white;
}

.programs h2 {
  font-size: 32px;
  color:black;
  margin-bottom: 40px;
  text-align: center;
}

.program-cards {
  display:flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}


.card {
  width: 300px;
  background: white;
  border-radius: 14px;
  overflow: hidden;
}
.card span {
    font-size: 10px;   
}


              
.card-header {
  height: 180px;          
  overflow: hidden;
  padding: 0;
}

.card-header img {
  width: 100%;                   
  height: 100%;                
  object-fit: cover;           
  display: block;                
}

.card-icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin: auto;
  display: block;
}



.card-body {
  padding: 25px;
  text-align: left;
  color: #111;

}

.card-body p {
  color: #4e4e4e;
  font-size: 15px;
}


.subscribe-section {
    background: #0b0050;
    padding: 50px;
    color: white;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.subscribe-section h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5px;
}

.subscribe-section p {
    font-size: 18px;
    margin: 0;
}

.subscribe-box {
    margin-top: 25px;
    display: flex;
    align-items: center;
    border: 3px solid #fff;
    border-radius: 40px;
    padding: 8px;
    width: 70%;
}

.subscribe-box input {
    flex: 1;
    padding: 12px 20px;
    background: transparent;
    color: white;
    font-size: 18px;
    border: none;
}

.subscribe-box button {
    background: #f85c5c;
    border: none;
    padding: 12px 30px;
    color: white;
    font-weight: 700;
    border-radius: 35px;
    
}

.subscribe-box input::placeholder {
    color: #ddd;
    font-size: 18px;
}



.subscribe-box button:hover {
    opacity: 0.9;
}
.footer-section {
    background: linear-gradient(90deg, #2b0064, #4b007d);
    color: #fff;
    padding: 60px 80px;
    font-family: "Poppins", sans-serif;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.footer-column {
    min-width: 150px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.footer-column a {
    display: block;
    color: #cfc9e8;
    text-decoration: none;
    margin-bottom: 12px;
    font-size: 16px;
}

.footer-column a:hover {
    color: #ffffff;
}

.footer-section hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 30px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    font-size: 15px;
    color: #ddd;
}


.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
    text-decoration: none;
    
}

.scroll-mouse {
    position: absolute;
    top: 82vh;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 20;
    animation: float 2s ease-in-out infinite;
}


.mouse-shape {
    width: 40px;
    height: 70px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mouse-wheel {
    width: 6px;
    height: 12px;
    background: #fff;
    border-radius: 3px;
    margin-top: 10px;
   
}

@keyframes float {
    0% { transform: translate(-50%, 0); }
    50% { transform: translate(-50%, -12px); }
    100% { transform: translate(-50%, 0); }
}
@media (max-width: 768px) {

    

    header {
        flex-direction: column;
        padding: 15px 20px;
        text-align: center;
    }

    header figure {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }

    nav a {
        font-size: 14px;
    }

    .btn {
        margin-top: 10px;
        padding: 8px 18px;
        font-size: 14px;
    }

    
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }

    .hero-img {
        width: 90%;
        margin-top: 20px;
    }

    .scroll-mouse {
        margin-top: 15px;
    }


    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        font-size: 13px;
    }

    table img.coin {
        width: 18px;
    }

    
    .features-container {
        flex-direction: column;
        gap: 25px;
        padding: 20px;
    }

    .feature {
        text-align: center;
    }

    .download-section {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .right-images .phone {
        width: 60%;
        margin: 25px auto;
    }

    .store-btn {
        width: 140px;
        margin: 10px;
    }

    /* PROGRAM CARDS */
    .program-cards {
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 20px;
    }

    .card-body h4 {
        font-size: 16px;
    }

  
    .subscribe-box {
        flex-direction: column;
        gap: 10px;
    }

    .subscribe-box input {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }

    .subscribe-box button {
        width: 100%;
        padding: 10px;
        font-size: 15px;
    }

    
    .footer-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        text-align: center;
        padding: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        text-align: center;
    }

    .social-icons a {
        font-size: 18px;
    }
}

