*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
  
}
html {
  scroll-behavior: smooth;
   
}


header{
  width: 100%;
  position: sticky;
}
.navbar{
  width: 100%;
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  background-color:transparent;
}

.logo img{
  width: 140px;   
  height: auto;
  
}

.nav-links{
  display: flex;
  gap: 40px;
 
}

.nav-links a{
  text-decoration: none;
  color: #0a1a4d;
  font-weight: 600;
  font-size: 18px;
  margin-top: 18px;

}

.btn1{
  text-decoration: none;
  background: #f46b3f;
  padding: 12px 32px;
  border-radius: 40px;
  font-weight: 600;
  color: white;
  font-size: 18px;
  border: none;
}
.section3{
  margin-top: -90px;
}
.container4{
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100vh;
  justify-items: center;
  justify-content: center;
  background-color: transparent;
}
.card{
  text-align: center;
  width: 390px;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  padding: 30px;
  height: 450px;
  
}
.card h3{
  color: #0a1a4d;
  line-height: 40px;
  font-size: 30px;
  margin-top: 12px;
}
.card p{
  font-size: 15px;
  line-height: 28px;
  margin-top: 12px;
}
.card img{
  height: auto;
  width: auto;
  margin-top: px;
}
.footer-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

.footer-logo img {
    width: 130px;
    height: auto;
}


.footer-contact ul {
    list-style: none;
    display: flex;
    gap: 45px;   
    padding: 0;
    margin: 0;
    color: #7a7a7a;
    font-size: 15px;
}

.footer-contact li i {
    margin-right: 8px;
    color: #6f6f6f;
}


.footer-social a {
    margin-left: 18px;
    font-size: 20px;
    color: #0b1a4e;
    text-decoration: none;
}

.footer-social a:hover {
    color: #f56c40;
}
.footer-contact{
  margin-left: -100px;
}
/* 630+ Bridge demos box */
.demo-count-box{
  position: fixed;
  right: 2px;
  bottom: 160px; 
  background: #fff;
  padding: 16px 18px;
  border-radius: 1px;
  text-align: center;
  display: flex;

}

.demo-count-box h3{
  margin: 0;
  font-size: 19px;
  font-weight: 700;
  color: #000;
}

.demo-count-box p{
  margin: 5px 0 0;
  font-size: 14px;
  color: #555;
}


.buy-now-btn{
  position: fixed;
  right: 2px;
  bottom: 95px; 
  background: #b2342c;
  color: #fff;
  text-decoration: none;
  padding: 14px 22px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
  z-index: 999;
}

.buy-now-btn:hover{
  background: #8f271f;
}
