body{
    background-image: url(./1.png);
    text-align: center;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover
;
}
header{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 20px;
  

}
.we{
    margin-top: 300px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    justify-content: space-between;
    padding: 10px 20px;

    
}
.btn1{
    color: black;
    padding: 10px;
    background-color: rgb(237, 235, 232);
     border: none;
    border-radius: 2px;
}
.btn2{
    color:white;
    padding: 10px;
    background-color: rgb(72, 68, 119);
    margin-left: 2px;
    border: none;
    border-radius: 2px;
}

header p{
    font-size: 20px;
    padding-left: 10px;
    margin-top: -5px;
}